.git
.github
.idea
.vscode
.DS_Store

.env
.env.*
!.env.example

.venv
venv
env
**/__pycache__
**/*.py[cod]
.pytest_cache
.mypy_cache
.coverage*

cache/*
static
tests
docs
pics
output

web-vue/node_modules
web-vue/dist
